.footer{
    width: 1200px;
    margin: 50px auto 0;
}

.footer p{
    text-align: center;
    line-height: 60px;
    font-size: 14px;
}

.footer p span {
    margin-right: 16px;
}

.footer p span a {
    color: #ccc;
    text-decoration: none;
}